[Desktop Entry]

Type=Application
Name=QLivePlayer
Comment=Play streaming and video with danmaku
Comment[zh_CN]=播放弹幕直播与视频
Categories=AudioVideo;Audio;Video;Player;TV;
Exec=qliveplayer
Icon=qliveplayer
StartupNotify=true
Terminal=false
