[Desktop Entry]
Version=1.0
Name=QLivePlayer Mime
NoDisplay=true
Exec=env "LD_LIBRARY_PATH=''" qlphelper -u %u --quiet
Icon=qliveplayer
Type=Application
MimeType=x-scheme-handler/qliveplayer;
