[package]
name = "app"
version = "0.1.0"
description = "A Tauri App"
authors = [ "you" ]
license = ""
repository = ""
default-run = "app"
edition = "2018"
build = "src/build.rs"

[build-dependencies]
tauri-build = { version = "1.0.0-rc.7", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = [ "derive" ] }
tauri = { version = "1.0.0-rc.8", features = ["api-all"] }
tokio = { version = "1", features = [ "full" ] }
reqwest = { version = "0.11", default-features = false, features = [ "brotli", "deflate", "gzip", "json", "rustls-tls" ] }
toml = "*"
anyhow = "1"
fancy-regex = "0.7"
directories = "4.0"
rand = "0.8"

[features]
default = [ "custom-protocol" ]
custom-protocol = [ "tauri/custom-protocol" ]

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
