[submodule "src/QLivePlayer-Lib"]
	path = src/QLivePlayer-Lib
	url = https://github.com/THMonster/QLivePlayer-Lib.git
	branch = exp
[submodule "src/dmlive"]
	path = src/dmlive
	url = https://github.com/THMonster/dmlive.git
