@import "tailwindcss";

@theme inline {
	--font-sans: sans-serif, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';

	--color-bg-base: var(--color-white);
	--color-bg-surface: var(--color-gray-100);
	--color-bg-base-dark: var(--color-zinc-950);
	--color-bg-surface-dark: var(--color-zinc-800);

	--color-primary: var(--color-rose-400);
	--color-primary-dark: var(--color-blue-400);

	--color-text-primary: var(--color-slate-900);
	--color-text-primary-dark: var(--color-slate-100);
}

body {
	@apply font-sans bg-bg-base dark:bg-bg-base-dark text-text-primary dark:text-text-primary-dark
}
